*{
    margin: 0%;
}

#logo{
    height: 30px;
    width: 30px;
}

.carousel-item{
    width: 50%;

}
/* Cambio el color de  letra del navbar*/
.nav-item {
    color: white;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color: white;
}

nav li:hover{
    background-color: #FA7533;
}

main.container{
    margin-top: 3%;
}

/* Las secciones tendrán un margen superior del 3% */
section{
    margin-top: 3%;
}

/* Organizo los estilos del footer */
.footer-top{
    margin-top: 3%;
    color: white;
}

.footer-bot{
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #034e91;
    color: white;
    height: 60px;
}

/* Organizo estilos de la paginación del data-table */
#example_paginate > ul > li.paginate_button.page-item {
    background-color:whitesmoke;
}
#example_paginate > ul > li.paginate_button.page-item a{
    text-decoration: none;
}

/* Agrego espacios después de cada ícono para que no quede pegado con la letra */
i::after{
    content: " ";
}